# BASE SINTÃ‰TICA SIMULADA - SINASC E SIM

In [1]:
# Carregando os pacotes
import findspark
findspark.init("/opt/spark")
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

from pyspark.sql import SparkSession
from pyspark.sql.types import ArrayType, StructField, StructType, StringType, IntegerType

appName = "PySpark Example - Python Array/List to Spark Data Frame"
master = "local"

# Create Spark session
spark = SparkSession.builder \
    .appName(appName) \
    .master(master) \
    .getOrCreate()
import pandas as pd
sc = spark.sparkContext
import csv
import pyspark.sql.functions as F
import pyspark.sql.types as T
import random
import os
import re

In [ ]:
# from pyspark.sql.types import StructType,StructField, StringType, IntegerType

# SIMULANDO BASE SINASC

In [2]:
# SIMULANDO BASE DE DADOS SIM

BASE_SINASC = [("001","530010","04-07-1993","M","3","preta","38","medio","solteiro","2","3","1","1","ADRIANO ANDRADE SANTOS","1"),
              ("002","522155","02-11-1978","M","4","preta","45","medio","solteiro","2","5","2","1","ANTONIA RAIMUNDO CESAR","95"),
               ("003","522130","02-09-1987","F","5","preta","32","medio","solteiro","2","6","1","1","MARIA SANTANA DE JESUS","99"),
              ("004","522100","05-06-1988","F","3","preta","39","sup","solteiro","2","3","2","1","ACILENE DANTAS SILVA","1"),
              ("005","522160","04-07-1979","M","4","branca","43","medio","solteiro","2","2","1","1","VAILTON DOS SANTOS","1"),
              ("006","522230","05-05-1994","F","3.6","preta","37","medio","solteiro","2","1","1","2","ADALGISA SANTANA","98"),
              ("007","522140","01-07-1978","F","4","preta","43","primario","solteiro","2","4","2","1","ADAIAS OLIVEIRA OLIVEIRA","1"),
              ("008","522150","09-07-1980","F","3.4","branca","41","sup","solteiro","2","5","2","2","ADELAIDE SILVA PEREIRA","98"),
              ("009","522157","02-03-1993","F","3.5","preta","39","medio","solteiro","2","6","1","1","ACASSIA PIRES","1"),
              ("010","522160","04-06-1988","M","3","preta","36","primario","solteiro","2","4","2","2","VAILTON COUTINHO","1"),
              ("011","522150","24-06-1985","F","3","preta","37","sup","solteiro","2","5","1","1","001 MARINA","1"),
               ("012","522145","06-07-1999","F","2","preta","40","medio","solteiro","2","3","1","1","MARIA VICTORIA","95"),
              ("013","522200","09-08-1981","F","3","branca","41","medio","solteiro","2","4","1","1","ADELAIDE SILVA","98"),
              ("014","522160","10-06-1989","F","2.5","preta","36","medio","solteiro","2","2","2","2","ACASSIA LIMA","1"),
               ("015","522157","03-09-1977","M","4","preta","48","sup","solteiro","2","2","1","2","ABANI MENDES","1"),
              ("016","522155","03-09-1986","M","3.4","branca","35","medio","solteiro","3","3","1","3","ABEL COSTA","98"),
              ("017","522157","06-12-1983","F","3.2","preta","39","primario","solteiro","1","3","1","1","MARIA PAULA SANTOS","1"),
               ("018","522130","08-07-1988","M","4","preta","36","medio","solteiro","2","3","1","2","VAILTON COUTINHO","96"),
               ("019","522108","03-07-1985","F","3.4","preta","34","sup","solteiro","2","2","2","1","ADAIAS OLIVEIRA SILVA","1"),
              ("020","522155","09-06-1984","F","3.5","preta","33","medio","solteiro","2","3","2","1","CAMILA SILVA SANTORO","98"),
              ("021","522190","06-06-1999","M","5","preta","34","primario","solteiro","2","2","1","1","ADRIANO SOUZA DE SANTANA","1"),
              ("022","522205","03-04-1986","F","5","branca","35","medio","solteiro","2","5","1","1","MARIA PAULA","97"),
              ("023","522140","01-05-1984","M","3.2","preta","39","medio","solteiro","2","3","1","1","ADALBERTO VALETIN","1")
                ]

schema = StructType([\
                     StructField("idcinasc",StringType(),True), \
                     StructField("munic_nascimento",StringType(),True), \
                     StructField("datanasc",StringType(),True), \
                     StructField("sexo",StringType(),True), \
                     StructField("pesonasci",StringType(),True), \
                     StructField("racacor",StringType(),True), \
                     StructField("idademae",StringType(),True), \
                     StructField("escolaridade",StringType(),True), \
                     StructField("estadocivil",StringType(),True), \
                     StructField("numfilhos_vivos_anteriores",StringType(),True), \
                     StructField("idadegestacional",StringType(),True), \
                     StructField("tipoparto",StringType(),True), \
                     StructField("Numero_Consultas_PNatal",StringType(),True), \
                     StructField("nome",StringType(), True), \
                     StructField("score_Linkage",StringType(),True) \
                    ])

BASE_SINASC = spark.createDataFrame(data=BASE_SINASC,schema=schema)
BASE_SINASC.printSchema()
BASE_SINASC.show(truncate=False)

root
 |-- idcinasc: string (nullable = true)
 |-- munic_nascimento: string (nullable = true)
 |-- datanasc: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- pesonasci: string (nullable = true)
 |-- racacor: string (nullable = true)
 |-- idademae: string (nullable = true)
 |-- escolaridade: string (nullable = true)
 |-- estadocivil: string (nullable = true)
 |-- numfilhos_vivos_anteriores: string (nullable = true)
 |-- idadegestacional: string (nullable = true)
 |-- tipoparto: string (nullable = true)
 |-- Numero_Consultas_PNatal: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- score_Linkage: string (nullable = true)

+--------+----------------+----------+----+---------+-------+--------+------------+-----------+--------------------------+----------------+---------+-----------------------+------------------------+-------------+
|idcinasc|munic_nascimento|datanasc  |sexo|pesonasci|racacor|idademae|escolaridade|estadocivil|numfilhos_vivos_anteriores|idadegestacional|tipoparto|Numero_Consultas_PNatal|nome                    |score_Linkage|
+--------+----------------+----------+----+---------+-------+--------+------------+-----------+--------------------------+----------------+---------+-----------------------+------------------------+-------------+
|001     |530010          |04-07-1993|M   |3        |preta  |38      |medio       |solteiro   |2                         |3               |1        |1                      |ADRIANO ANDRADE SANTOS  |1            |
|002     |522155          |02-11-1978|M   |4        |preta  |45      |medio       |solteiro   |2                         |5               |2        |1                      |ANTONIA RAIMUNDO CESAR  |95           |
|003     |522130          |02-09-1987|F   |5        |preta  |32      |medio       |solteiro   |2                         |6               |1        |1                      |MARIA SANTANA DE JESUS  |99           |
|004     |522100          |05-06-1988|F   |3        |preta  |39      |sup         |solteiro   |2                         |3               |2        |1                      |ACILENE DANTAS SILVA    |1            |
|005     |522160          |04-07-1979|M   |4        |branca |43      |medio       |solteiro   |2                         |2               |1        |1                      |VAILTON DOS SANTOS      |1            |
|006     |522230          |05-05-1994|F   |3.6      |preta  |37      |medio       |solteiro   |2                         |1               |1        |2                      |ADALGISA SANTANA        |98           |
|007     |522140          |01-07-1978|F   |4        |preta  |43      |primario    |solteiro   |2                         |4               |2        |1                      |ADAIAS OLIVEIRA OLIVEIRA|1            |
|008     |522150          |09-07-1980|F   |3.4      |branca |41      |sup         |solteiro   |2                         |5               |2        |2                      |ADELAIDE SILVA PEREIRA  |98           |
|009     |522157          |02-03-1993|F   |3.5      |preta  |39      |medio       |solteiro   |2                         |6               |1        |1                      |ACASSIA PIRES           |1            |
|010     |522160          |04-06-1988|M   |3        |preta  |36      |primario    |solteiro   |2                         |4               |2        |2                      |VAILTON COUTINHO        |1            |
|011     |522150          |24-06-1985|F   |3        |preta  |37      |sup         |solteiro   |2                         |5               |1        |1                      |001 MARINA              |1            |
|012     |522145          |06-07-1999|F   |2        |preta  |40      |medio       |solteiro   |2                         |3               |1        |1                      |MARIA VICTORIA          |95           |
|013     |522200          |09-08-1981|F   |3        |branca |41      |medio       |solteiro   |2                         |4               |1        |1                      |ADELAIDE SILVA          |98           |
|014     |522160          |10-06-1989|F   |2.5      |preta  |36      |medio       |solteiro   |2                         |2               |2        |2                      |ACASSIA LIMA            |1            |
|015     |522157          |03-09-1977|M   |4        |preta  |48      |sup         |solteiro   |2                         |2               |1        |2                      |ABANI MENDES            |1            |
|016     |522155          |03-09-1986|M   |3.4      |branca |35      |medio       |solteiro   |3                         |3               |1        |3                      |ABEL COSTA              |98           |
|017     |522157          |06-12-1983|F   |3.2      |preta  |39      |primario    |solteiro   |1                         |3               |1        |1                      |MARIA PAULA SANTOS      |1            |
|018     |522130          |08-07-1988|M   |4        |preta  |36      |medio       |solteiro   |2                         |3               |1        |2                      |VAILTON COUTINHO        |96           |
|019     |522108          |03-07-1985|F   |3.4      |preta  |34      |sup         |solteiro   |2                         |2               |2        |1                      |ADAIAS OLIVEIRA SILVA   |1            |
|020     |522155          |09-06-1984|F   |3.5      |preta  |33      |medio       |solteiro   |2                         |3               |2        |1                      |CAMILA SILVA SANTORO    |98           |
+--------+----------------+----------+----+---------+-------+--------+------------+-----------+--------------------------+----------------+---------+-----------------------+------------------------+-------------+
only showing top 20 rows

In [7]:
# FunÃ§Ã£o para contar erros como: NAs, NULL
from pyspark.sql.functions import col,isnan,when,count
BASE_SINASC_ERROS = BASE_SINASC.select([count(when(col(c).contains('NULL') | \
                            col(c).contains('None') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in BASE_SINASC.columns])

BASE_SINASC_ERROS.show()

+--------+----------------+--------+----+---------+-------+--------+------------+-----------+--------------------------+----------------+---------+-----------------------+----+-------------+
|idcinasc|munic_nascimento|datanasc|sexo|pesonasci|racacor|idademae|escolaridade|estadocivil|numfilhos_vivos_anteriores|idadegestacional|tipoparto|Numero_Consultas_PNatal|nome|score_Linkage|
+--------+----------------+--------+----+---------+-------+--------+------------+-----------+--------------------------+----------------+---------+-----------------------+----+-------------+
|       0|               0|       0|   0|        0|      0|       0|           0|          0|                         0|               0|        0|                      0|   0|            0|
+--------+----------------+--------+----+---------+-------+--------+------------+-----------+--------------------------+----------------+---------+-----------------------+----+-------------+

In [8]:
# FUNÃ‡ÃƒO PARA SEPARAR O PRIMEIRO NOME

def primeiro_nome(nome):
    if nome:
        # Separa o nome baseado no delimitador de espaÃ§o em branco
        nome = nome.split(" ")
        
        # Retorna o primeiro nome
        if len(nome[0]) > 0:
            return nome[0]
        else:
            return ""
    else:
        return None

udf_primeiro_nome = F.udf(primeiro_nome, T.StringType())

In [9]:
# FUNÃ‡ÃƒO PARA SEPARAR O SEGUNDO NOME

def segundo_nome(nome):
    if nome:
        # Separa o nome baseado no delimitador de espaÃ§o em branco
        nome = nome.split(" ")
        
        # Verifica se existe um segundo nome
        if len(nome) > 1:
            # Retorna o segundo nome
            if len(nome[1]) > 0:
                return nome[1]
            else:
                return ""
        else:
            return ""    
    else:
        return None

udf_segundo_nome = F.udf(segundo_nome, T.StringType())

In [11]:
# FUNÃ‡ÃƒO PARA SEPARAR O TERCEIRO NOME

def terceiro_nome(nome):
    if nome:
        # Separa o nome baseado no delimitador de espaÃ§o em branco
        nome = nome.split(" ")
        
        # Verifica se existe um segundo nome
        if len(nome) > 2:
            # Retorna o segundo nome
            if len(nome[2]) > 1:
                return nome[2]
            else:
                return ""
        else:
            return ""    
    else:
        return None

udf_terceiro_nome = F.udf(terceiro_nome, T.StringType())

In [12]:
# CRIAÃ‡ÃƒO DO DATAFRAME [primeiro_nome]

df_Primeiro_Nome = BASE_SINASC.select(F.col("nome"))
# df_Primeiro_Nome = df_Primeiro_Nome.withColumn("nome", udf_tratar_nome(F.col("nome")))
df_Primeiro_Nome = df_Primeiro_Nome.withColumn("nome", udf_primeiro_nome(F.col("nome")))
df_Primeiro_Nome = df_Primeiro_Nome.withColumnRenamed('nome', 'primeiro_nome')

total_geral = df_Primeiro_Nome.count()
total_distinto = df_Primeiro_Nome.select(F.col("primeiro_nome")).distinct().count()

df_Primeiro_Nome = df_Primeiro_Nome.groupBy(F.col("primeiro_nome")).count()
df_Primeiro_Nome = df_Primeiro_Nome.withColumnRenamed('count', 'total')

df_Primeiro_Nome = df_Primeiro_Nome.withColumn("percentual", F.bround((F.col("total")/total_geral)*100, 2))

print("Total Geral de Nomes: ", total_geral)
print("Total Distinto de Nomes: ", total_distinto)

Total Geral de Nomes:  23
Total Distinto de Nomes:  14

In [13]:
df_Primeiro_Nome.show()

+-------------+-----+----------+
|primeiro_nome|total|percentual|
+-------------+-----+----------+
|       ADAIAS|    2|       8.7|
|      ACILENE|    1|      4.35|
|       CAMILA|    1|      4.35|
|     ADALGISA|    1|      4.35|
|        MARIA|    4|     17.39|
|        ABANI|    1|      4.35|
|         ABEL|    1|      4.35|
|     ADELAIDE|    2|       8.7|
|          001|    1|      4.35|
|      VAILTON|    3|     13.04|
|      ADRIANO|    2|       8.7|
|      ANTONIA|    1|      4.35|
|      ACASSIA|    2|       8.7|
|    ADALBERTO|    1|      4.35|
+-------------+-----+----------+

In [14]:
# VISUALIZAÃ‡ÃƒO DO RESULTADO

df_Primeiro_Nome.orderBy(F.col("total").desc()).show()

+-------------+-----+----------+
|primeiro_nome|total|percentual|
+-------------+-----+----------+
|        MARIA|    4|     17.39|
|      VAILTON|    3|     13.04|
|      ADRIANO|    2|       8.7|
|     ADELAIDE|    2|       8.7|
|       ADAIAS|    2|       8.7|
|      ACASSIA|    2|       8.7|
|      ACILENE|    1|      4.35|
|     ADALGISA|    1|      4.35|
|       CAMILA|    1|      4.35|
|          001|    1|      4.35|
|        ABANI|    1|      4.35|
|         ABEL|    1|      4.35|
|      ANTONIA|    1|      4.35|
|    ADALBERTO|    1|      4.35|
+-------------+-----+----------+

In [15]:
# CRIAÃ‡ÃƒO DO DATAFRAME [segundo_nome]

df_Segundo_Nome = BASE_SINASC.select(F.col("nome"), F.col("nome").alias("sobrenome"))
# df_Segundo_Nome = df_Segundo_Nome.withColumn("nome", udf_tratar_nome(F.col("nome")))
df_Segundo_Nome = df_Segundo_Nome.withColumn("nome", udf_primeiro_nome(F.col("nome")))
# df_Segundo_Nome = df_Segundo_Nome.withColumn("nome_2", udf_tratar_nome(F.col("nome_2")))
df_Segundo_Nome = df_Segundo_Nome.withColumn("sobrenome", udf_segundo_nome(F.col("sobrenome")))
df_Segundo_Nome = df_Segundo_Nome.withColumnRenamed("nome", "nome")

df_Segundo_Nome.show()

+--------+---------+
|    nome|sobrenome|
+--------+---------+
| ADRIANO|  ANDRADE|
| ANTONIA| RAIMUNDO|
|   MARIA|  SANTANA|
| ACILENE|   DANTAS|
| VAILTON|      DOS|
|ADALGISA|  SANTANA|
|  ADAIAS| OLIVEIRA|
|ADELAIDE|    SILVA|
| ACASSIA|    PIRES|
| VAILTON| COUTINHO|
|     001|   MARINA|
|   MARIA| VICTORIA|
|ADELAIDE|    SILVA|
| ACASSIA|     LIMA|
|   ABANI|   MENDES|
|    ABEL|    COSTA|
|   MARIA|    PAULA|
| VAILTON| COUTINHO|
|  ADAIAS| OLIVEIRA|
|  CAMILA|    SILVA|
+--------+---------+
only showing top 20 rows

In [16]:
from pyspark.sql.functions import unix_timestamp, from_unixtime

In [18]:
# CRIAÃ‡ÃƒO DO DATAFRAME [Terceiro_nome]
df_Terceiro_Nome = BASE_SINASC.select(F.col("nome"), F.col("nome").alias("terceironome"))
df_Terceiro_Nome = df_Terceiro_Nome.withColumn("nome", udf_segundo_nome(F.col("nome")))
df_Terceiro_Nome = df_Terceiro_Nome.withColumn("terceironome", udf_terceiro_nome(F.col("terceironome")))
df_Terceiro_Nome = df_Terceiro_Nome.withColumnRenamed("nome", "segundonome")

df_Terceiro_Nome.show()

+-----------+------------+
|segundonome|terceironome|
+-----------+------------+
|    ANDRADE|      SANTOS|
|   RAIMUNDO|       CESAR|
|    SANTANA|          DE|
|     DANTAS|       SILVA|
|        DOS|      SANTOS|
|    SANTANA|            |
|   OLIVEIRA|    OLIVEIRA|
|      SILVA|     PEREIRA|
|      PIRES|            |
|   COUTINHO|            |
|     MARINA|            |
|   VICTORIA|            |
|      SILVA|            |
|       LIMA|            |
|     MENDES|            |
|      COSTA|            |
|      PAULA|      SANTOS|
|   COUTINHO|            |
|   OLIVEIRA|       SILVA|
|      SILVA|     SANTORO|
+-----------+------------+
only showing top 20 rows

# SIMULANDO BASE SIM

In [3]:
# SIMULANDO BASE DE DADOS SIM

BASE_SIM = [("001","530010","04-07-1993","M","3","preta","38","medio","solteiro","2","3","1","1","ADRIANO ANDRADE SANTOS","1"),
              ("002","522155","02-11-1978","M","4","preta","45","medio","solteiro","2","5","2","1","ANTONIA RAIMUNDO CESAR","95"),
               ("003","522130","02-09-1987","F","5","preta","32","medio","solteiro","2","6","1","1","MARIA SANTANA DE JESUS","99"),
              ("004","522100","05-06-1988","F","3","preta","39","sup","solteiro","2","3","2","1","ACILENE DANTAS SILVA","1"),
              ("005","522160","04-07-1979","M","4","branca","43","medio","solteiro","2","2","1","1","VAILTON DOS SANTOS","1"),
              ("006","522230","05-05-1994","F","3.6","preta","37","medio","solteiro","2","1","1","2","ADALGISA SANTANA","98"),
              ("007","522140","01-07-1978","F","4","preta","43","primario","solteiro","2","4","2","1","ADAIAS OLIVEIRA OLIVEIRA","1"),
              ("008","522150","09-07-1980","F","3.4","branca","41","sup","solteiro","2","5","2","2","ADELAIDE SILVA PEREIRA","98"),
              ("009","522157","02-03-1993","F","3.5","preta","39","medio","solteiro","2","6","1","1","ACASSIA PIRES","1"),
              ("010","522160","04-06-1988","M","3","preta","36","primario","solteiro","2","4","2","2","VAILTON COUTINHO","1"),
              ("011","522150","24-06-1985","F","3","preta","37","sup","solteiro","2","5","1","1","001 MARINA","1"),
               ("012","522145","06-07-1999","F","2","preta","40","medio","solteiro","2","3","1","1","MARIA VICTORIA","95"),
              ("013","522200","09-08-1981","F","3","branca","41","medio","solteiro","2","4","1","1","ADELAIDE SILVA","98"),
              ("014","522160","10-06-1989","F","2.5","preta","36","medio","solteiro","2","2","2","2","ACASSIA LIMA","1"),
               ("015","522157","03-09-1977","M","4","preta","48","sup","solteiro","2","2","1","2","ABANI MENDES","1"),
              ("016","522155","03-09-1986","M","3.4","branca","35","medio","solteiro","3","3","1","3","ABEL COSTA","98"),
              ("017","522157","06-12-1983","F","3.2","preta","39","primario","solteiro","1","3","1","1","MARIA PAULA SANTOS","1"),
               ("018","522130","08-07-1988","M","4","preta","36","medio","solteiro","2","3","1","2","VAILTON COUTINHO","96"),
               ("019","522108","03-07-1985","F","3.4","preta","34","sup","solteiro","2","2","2","1","ADAIAS OLIVEIRA SILVA","1"),
              ("020","522155","09-06-1984","F","3.5","preta","33","medio","solteiro","2","3","2","1","CAMILA SILVA SANTORO","98"),
              ("021","522190","06-06-1999","M","5","preta","34","primario","solteiro","2","2","1","1","ADRIANO SOUZA DE SANTANA","1"),
              ("022","522205","03-04-1986","F","5","branca","35","medio","solteiro","2","5","1","1","MARIA PAULA","97"),
              ("023","522140","01-05-1984","M","3.2","preta","39","medio","solteiro","2","3","1","1","ADALBERTO VALETIN","1")
                ]

schema = StructType([\
                     StructField("idcinasc",StringType(),True), \
                     StructField("munic_nascimento",StringType(),True), \
                     StructField("datanasc",StringType(),True), \
                     StructField("sexo",StringType(),True), \
                     StructField("pesonasci",StringType(),True), \
                     StructField("racacor",StringType(),True), \
                     StructField("idademae",StringType(),True), \
                     StructField("escolaridade",StringType(),True), \
                     StructField("estadocivil",StringType(),True), \
                     StructField("numfilhos_vivos_anteriores",StringType(),True), \
                     StructField("idadegestacional",StringType(),True), \
                     StructField("tipoparto",StringType(),True), \
                     StructField("Numero_Consultas_PNatal",StringType(),True), \
                     StructField("nome",StringType(), True), \
                     StructField("score_Linkage",StringType(),True) \
                    ])

BASE_SIM = spark.createDataFrame(data=BASE_SIM,schema=schema)
BASE_SIM.printSchema()
BASE_SIM.show(truncate=False)

root
 |-- idcinasc: string (nullable = true)
 |-- munic_nascimento: string (nullable = true)
 |-- datanasc: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- pesonasci: string (nullable = true)
 |-- racacor: string (nullable = true)
 |-- idademae: string (nullable = true)
 |-- escolaridade: string (nullable = true)
 |-- estadocivil: string (nullable = true)
 |-- numfilhos_vivos_anteriores: string (nullable = true)
 |-- idadegestacional: string (nullable = true)
 |-- tipoparto: string (nullable = true)
 |-- Numero_Consultas_PNatal: string (nullable = true)
 |-- nome: string (nullable = true)
 |-- score_Linkage: string (nullable = true)

+--------+----------------+----------+----+---------+-------+--------+------------+-----------+--------------------------+----------------+---------+-----------------------+------------------------+-------------+
|idcinasc|munic_nascimento|datanasc  |sexo|pesonasci|racacor|idademae|escolaridade|estadocivil|numfilhos_vivos_anteriores|idadegestacional|tipoparto|Numero_Consultas_PNatal|nome                    |score_Linkage|
+--------+----------------+----------+----+---------+-------+--------+------------+-----------+--------------------------+----------------+---------+-----------------------+------------------------+-------------+
|001     |530010          |04-07-1993|M   |3        |preta  |38      |medio       |solteiro   |2                         |3               |1        |1                      |ADRIANO ANDRADE SANTOS  |1            |
|002     |522155          |02-11-1978|M   |4        |preta  |45      |medio       |solteiro   |2                         |5               |2        |1                      |ANTONIA RAIMUNDO CESAR  |95           |
|003     |522130          |02-09-1987|F   |5        |preta  |32      |medio       |solteiro   |2                         |6               |1        |1                      |MARIA SANTANA DE JESUS  |99           |
|004     |522100          |05-06-1988|F   |3        |preta  |39      |sup         |solteiro   |2                         |3               |2        |1                      |ACILENE DANTAS SILVA    |1            |
|005     |522160          |04-07-1979|M   |4        |branca |43      |medio       |solteiro   |2                         |2               |1        |1                      |VAILTON DOS SANTOS      |1            |
|006     |522230          |05-05-1994|F   |3.6      |preta  |37      |medio       |solteiro   |2                         |1               |1        |2                      |ADALGISA SANTANA        |98           |
|007     |522140          |01-07-1978|F   |4        |preta  |43      |primario    |solteiro   |2                         |4               |2        |1                      |ADAIAS OLIVEIRA OLIVEIRA|1            |
|008     |522150          |09-07-1980|F   |3.4      |branca |41      |sup         |solteiro   |2                         |5               |2        |2                      |ADELAIDE SILVA PEREIRA  |98           |
|009     |522157          |02-03-1993|F   |3.5      |preta  |39      |medio       |solteiro   |2                         |6               |1        |1                      |ACASSIA PIRES           |1            |
|010     |522160          |04-06-1988|M   |3        |preta  |36      |primario    |solteiro   |2                         |4               |2        |2                      |VAILTON COUTINHO        |1            |
|011     |522150          |24-06-1985|F   |3        |preta  |37      |sup         |solteiro   |2                         |5               |1        |1                      |001 MARINA              |1            |
|012     |522145          |06-07-1999|F   |2        |preta  |40      |medio       |solteiro   |2                         |3               |1        |1                      |MARIA VICTORIA          |95           |
|013     |522200          |09-08-1981|F   |3        |branca |41      |medio       |solteiro   |2                         |4               |1        |1                      |ADELAIDE SILVA          |98           |
|014     |522160          |10-06-1989|F   |2.5      |preta  |36      |medio       |solteiro   |2                         |2               |2        |2                      |ACASSIA LIMA            |1            |
|015     |522157          |03-09-1977|M   |4        |preta  |48      |sup         |solteiro   |2                         |2               |1        |2                      |ABANI MENDES            |1            |
|016     |522155          |03-09-1986|M   |3.4      |branca |35      |medio       |solteiro   |3                         |3               |1        |3                      |ABEL COSTA              |98           |
|017     |522157          |06-12-1983|F   |3.2      |preta  |39      |primario    |solteiro   |1                         |3               |1        |1                      |MARIA PAULA SANTOS      |1            |
|018     |522130          |08-07-1988|M   |4        |preta  |36      |medio       |solteiro   |2                         |3               |1        |2                      |VAILTON COUTINHO        |96           |
|019     |522108          |03-07-1985|F   |3.4      |preta  |34      |sup         |solteiro   |2                         |2               |2        |1                      |ADAIAS OLIVEIRA SILVA   |1            |
|020     |522155          |09-06-1984|F   |3.5      |preta  |33      |medio       |solteiro   |2                         |3               |2        |1                      |CAMILA SILVA SANTORO    |98           |
+--------+----------------+----------+----+---------+-------+--------+------------+-----------+--------------------------+----------------+---------+-----------------------+------------------------+-------------+
only showing top 20 rows

# AND